@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

@import './login.css';
@import './pong.css';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1;
}

input[type='text'],
input[type='email'],
input[type='password'] {
  padding: 12px;
  outline: none;
  border: none;
  border-radius: 0.25rem;
  font-size: 1.1rem;
  background-color: #f6f6f6;
  border: 1.5px solid #dddfe2;
}

input[type='text']:focus,
input[type='email']:focus,
input[type='password']:focus {
  /* border: 1.5px solid #ff8900;
   */
  box-shadow: 0 0 0 2px #ff8900;
}

input[type='text']:disabled,
input[type='email']:disabled,
input[type='password']:disabled {
  background-color: #fff;
}

input[type='text']::placeholder,
input[type='email']::placeholder,
input[type='password']::placeholder {
  opacity: 0;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

.btn {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 100ms ease;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 1.5px solid #dddfe2;
}

.btn:focus {
  box-shadow: 0 0 0 2px #ff8900;
}
.btn:hover {
  filter: brightness(90%);
}

.btn:disabled {
  cursor: not-allowed;
  background-color: #c9c9c9;
}

.btn-primary {
  background-color: #ff8900;
  color: #fff;
}

.btn-secondary {
  color: rgb(66, 66, 66);
  background-color: #fff;
}

.btn svg {
  position: absolute;
  left: 1rem;
}

.divide-or {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  color: #c9c9c9;
  z-index: 2;
  line-height: 1;
  margin: 1rem 0;
}

.divide-or::before {
  content: '';
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 0;
  width: 45%;
  height: 2px;
  background-color: #c9c9c9;
}

.divide-or::after {
  content: '';
  z-index: 1;
  position: absolute;
  top: 50%;
  right: 0;
  width: 45%;
  height: 2px;
  background-color: #c9c9c9;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1rem;
}

span.error {
  color: rgb(196, 0, 0);
  font-weight: bold;
  margin-top: 3px;
}

input.error:focus {
  box-shadow: 0 0 0 2px rgb(196, 0, 0);
}
